body {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: #000008;
    color: #FFFFFF;
    font-size: 25px;
}
a:visited {
    color: #e6db74;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
ul.middle {
    justify-content: center;
    display: flow;
}