<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static css_name %}">
    <title></title>
</head>
<body>
<div class="center">
        {% load static %}
    <center><a href="/"><img src="{% static logo_name %}" alt="Epsilon"></a></center><br />
    {% if latest_details_list %}
        <ul class="center middle">
        {% for details in latest_details_list %}
            <li>Passed: {{ details.details_text }}</li><br />
            <li>Cycle Name: {{ details.details_number }}</li><br />
            <li>Serial Number: {{ details.details_serial_number }}</li><br />
            <li>Serial: {{ details.details_serial_src  }}</li><br />
            <li>Lot Number: {{ details.details_lot_number  }}</li><br />
            <li>Cycle Number: {{ details.details_cycle_number  }}</li><br />
            <li>Frequency: {{ details.details_control_frequency  }}</li><br />
            <li>Status: {{ details.details_status  }}</li><br />
            <li>Type: {{ details.details_type  }}</li><br />
            <li>Well Number: {{ details.details_well_number  }}</li><br />
            <li>Estimated Time: {{ details.details_estimated_time  }}</li><br />
        {% endfor %}
        </ul>
    {% else %}
        <p>No cycle details are available.</p>
    {% endif %}
</div>
</body>
</html>