<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static css_name %}">
    <title></title>
</head>
<body>
<div class="center">
        {% load static %}
        <center><a href="/"><img src="{% static logo_name %}" alt="Epsilon"></a></center><br />
    {% if latest_device_list %}
        <ul class="center middle">
        {% for device in latest_device_list %}
            <li><a href="/devices/{{ device.id }}/">{{ device.device_text }}</a></li><br />
        {% endfor %}
        </ul>
    {% else %}
        <p>No devices are available.</p>
    {% endif %}
</div>
</body>
</html>